hmtl{
    font-family: 'Montserrat', sans-serif;
}
               /* Header */
header{
    background-color: #364552;
    color: white;
    padding: 0.2px 0.2px;
}

header h1{
    font-size: 3rem;
    text-align: center;
}

                /* Cuerpo */
body{
    margin:0;
    background-color: #efefee;    
}
/* Sección de anuncios y cuerpo */
.rows{
    display:flex;
    width: 100%;
}
/* Sección de enlaces y información */
.rows2{
    display: flex;

}
/* Enlace para la misma pagina */
.mismapagina{
    width: 1000px;
}

.selector{
    color:red;
}
.Cambiop{

    outline: 2px solid black;
}
/* Anuncio 1 */
.a1{
    width: 200px;
    height: 100%;
    outline: 2px solid black;
}
/* Anuncio 2 */
.a2{
    width: 200px;
    height: 100%;
    outline: 2px solid black;
}

            /* Carrusel  */
.carrusel-items {
    display:flex;
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 30px 0px;

}
.carrusel-item{
    min-width: 300px;
    max-width: 300px;
    height: 150px;
    outline: 2px solid black;
    cursor:pointer;
}
.carrusel-item img{
    width: 100% 	;
    height: 100%;
    object-fit: cover;
}
.carrusel-item:hover {
    transform:scale(1.2);
}
/* Contenedor del texto */
.container{
    width: 400px;
    margin: 0 auto;
}
/* Imagenes del contenedor */
.container img{
    outline: 2px solid black;
    object-fit: cover;
    display:block;
    margin:  0 auto;
}
/* Seleccionar el mouse en la imagen del cuerpo */
.container img:hover{
    transform:scale(1.2);
}
/* Articulos dentro de la seccion */
section article{
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
/* Cuando el mouse esta sobre el articulo */
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

/* h2 y p de todas las secciones */
section article h2, section article p{
    margin: 1rem;
}

/* footer section */
footer{
    background-color: #222;
    padding: 6rem;
    color:#fff;
}
/* Seccion del footer */
footer section{
    margin: 0.25mm;
    text-align: right;
}
/* Lista de footer */
footer ul{
    float: right;
    padding-left: 44px;
}
/* a del footer */
footer a{
    transition: color 0.3s ease;
    color:#fff;
    text-decoration: none;
}
/* Tabla de información */
.TablaInfo{
    align-content: flex-start;
}
/* Facebook */
.TablaInfo .Facebook{

    color:blue;
}
/* Github */
.TablaInfo .GIT{
    color:grey;
}
/* Correo */
.TablaInfo .Correo{
    color:red;
}
/* Seleccionamos los a */
footer a:hover{
    color:cornflowerblue;
}

